<section id="contact" class="s-contact target-section">
  <div class="row contact-bottom">
    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
      <h3 class="text-pretitle">Contact info</h3>
      <p class="contact-links">
        <a href="mailto:amaykadakia&#64;gmail.com">amaykadakia&#64;gmail.com</a> <br>
        <a href="tel:+15105745600">+1 510 574 5600</a>
      </p>
    </div>
    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
      <h3 class="text-pretitle">Social</h3>
      <ul class="contact-social">
        <li><a href="https://www.linkedin.com/in/amaykadakia/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/kadakiaamay02" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</section>
