<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Amay Kadakia</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header 
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="index.html">Amay Kadakia.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="index.html" class="home-link">Amay Kadakia.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Recent Projects</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            Hello World
                        </div>

                        <h1 class="text-huge-title">
                            I am Amay, <br>
                            a Software Engineer, <br>
                            & a student<br>
                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="https://www.linkedin.com/in/amaykadakia/" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/kadakiaamay02" target="_blank">GitHub</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                        fill-rule="evenodd" clip-rule="evenodd">
                        <path
                            d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z" />
                    </svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block">
                        <!--   <img src="images/about-photo.jpg" 
                             srcset="images/about-photo.jpg 1x, images/about-photo@2x.jpg 2x" alt="" class="about-info__pic" data-animate-el> -->
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text">

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                                I am a Senior Frontend developer for Fidelity Investments.
                                I am pursing a Master of Science in Computer Science with a specialization in Computing
                                Systems from Georgia Institute of Technology.
                                I recently graduated from the University of Texas at Arlington with a B.Sc in Computer
                                Science Engineering.
                            </p>
                            <a href="https://amaykadakia.com/AmayKadakia.pdf" target="_blank"
                                class="btn btn--medium u-fullwidth" data-animate-el>Resume</a>

                        </div>
                    </div>
                </div> <!-- about-info -->
                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Experience
                        </h2>

                        <div class="timeline" data-animate-el>
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Fidelity Investments</h4>
                                        <h5 class="timeline__meta">Senior Frontend developer</h5>
                                        <p class="timeline__timeframe">October 2025 - Present</p>
                                        <div class="timeline__desc">
                                            <p>
                                                Responsible for maintaining an enterprise-wide Angular monorepo used across multiple business units, ensuring code quality, consistency, and seamless integration of new features and updates.
                                            </p>
                                        </div>
                                        <h5 class="timeline__meta">Full-stack Engineer</h5>
                                        <p class="timeline__timeframe">July 2024 - October 2025</p>
                                        <div class="timeline__desc">
                                            <p>
                                                Architected and designed a scalable, modular Angular application to
                                                streamline the participant verification process, incorporating best
                                                practices for front-end development, component-driven architecture, and
                                                performance optimization.

                                            </p>
                                            <p>
                                                Integrated GraphQL with Apollo to enable efficient and flexible data
                                                retrieval, reducing API response times and improving overall application
                                                responsiveness.
                                            </p>
                                            <p>
                                                Facilitated and supported production deployments, ensuring smooth
                                                rollouts and providing post-installation support to address any issues
                                                or optimizations.
                                            </p>
                                        </div>
                                        <h5 class="timeline__meta">Associate Software Engineer</h5>
                                        <p class="timeline__timeframe">January 2023 - June 2024</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Contributed to an Agile team developing an Angular application integrated with a
                                        Java API, aimed at enhancing Fidelity's customer service capabilities for
                                        improved customer satisfaction.</p>

                                    <p>Implemented E2E tests and unit tests using Playwright and Jasmine Karma to ensure
                                        application functionality.</p>

                                    <p>Actively participated in cross-functional collaboration, gathering and advocating
                                        user feedback to drive continuous improvement and align technical solutions with
                                        business product goals.</p>

                                </div>
                            </div>


                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Amdocs, Inc. - AT&T</h4>
                                        <h5 class="timeline__meta">Software Engineer Intern</h5>
                                        <p class="timeline__timeframe">June 2022 - August 2022</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>
                                        Designed and developed a functional CRUD web application using Python Flask,
                                        SQLite, and SqlAlchemy.
                                        Incorporated features like update, delete and search to increase efficiency of
                                        the team by 20%.
                                    </p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">UT Arlington Scholarships office
                                    </h4>
                                    <h5 class="timeline__meta">Student Assistant</h5>
                                    <p class="timeline__timeframe">August 2021 - September 2022</p>
                                </div>
                            </div>
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">IBM Good Tech Scholars program</h4>
                                    <h5 class="timeline__meta">Participant - 3rd Place winner</h5>
                                    <p class="timeline__timeframe">May 2021 - June 2021</p>
                                    <div class="timeline__desc">
                                        <p>
                                            Project: Thermi
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end timeline -->

                    </div> <!-- end column -->
                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Georgia Institute of Technology</h4>
                                        <h5 class="timeline__meta">Master of Science in Computer Science</h5>
                                        <h5 class="timeline__meta">Specialization: Computing Systems</h5>

                                        <p class="timeline__timeframe">January 2024 - Present</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">University of Texas, Arlington</h4>
                                        <h5 class="timeline__meta">Bachelor of Science in Computer Science</h5>
                                        <h5 class="timeline__meta">GPA: 3.5</h5>
                                        <p class="timeline__timeframe">August 2021 - December 2022</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>
                                        Operating systems,
                                        Linear Algebra,
                                        Computer Networks,
                                        Introduction to Software Engineering,
                                        Object-oriented Software Engineering,
                                        Databases,
                                        Professional Practices,
                                        Programming Languages,
                                        Software Project Management,
                                        Software Design Patterns,
                                        Information Security,
                                        Artificial Intelligence,
                                        Software Testing and Maintenance,
                                        Graphics
                                    </p>
                                </div>
                            </div>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Ohlone College</h4>
                                    <p class="timeline__timeframe">August 2018 - August 2020</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>
                                        Introduction to Programing in C++,
                                        Introduction to Programing in Java,
                                        Object-oriented programming in C++,
                                        Programing with Data structures,
                                        Discrete structures,
                                        Unix/Linux,
                                        Assembly language programing
                                    </p>
                                </div>
                            </div>

                        </div> <!-- end timeline -->

                    </div> <!-- end column -->


                </div> <!-- end about-timelines -->

                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Skills</h2>

                        <ul class="skills-list h2" data-animate-el>
                            <li>Angular</li>
                            <li> Nx </li>
                            <li> TypeScript</li>
                            <li> JavaScript</li>
                            <li> Playwright</li>
                            <li> Jenkins</li>
                            <li> Java</li>
                            <li> HTML</li>
                            <li> CSS</li>
                            <li> AWS</li>
                            <li> MySQL Workbench</li>
                            <li> Figma</li>
                            <li> SQLite</li>
                            <li> SqlAlchemy</li>
                            <li> React</li>
                            <li> Python</li>
                            <li> Flask</li>
                            <li> Ionic</li>
                            <li> Android studio</li>
                            <li> Drupal</li>
                            <li> linux</li>
                            <li> Azure</li>
                            <li> C++</li>
                            <li> C</li>
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->

                <div class="row about-expertise" data-animate-block id="certs">
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Certifications</h2>

                        <ul class="Cerf-list h2" data-animate-el>
                            <li>HackerRank
                                <ul id="cerflinks">
                                    <li><a href="https://www.hackerrank.com/certificates/iframe/173a01159fc7"
                                            target="_blank">Angular (Intermediate)</a>
                                    </li>
                                    <li><a href="https://www.hackerrank.com/certificates/iframe/a113a598493b"
                                            target="_blank">Angular (Basic)</a></li>
                                    <li><a href="https://www.hackerrank.com/certificates/iframe/8ddc26928670"
                                            target="_blank">Python (Basic)</a></li>
                                    <li><a href="https://www.hackerrank.com/certificates/iframe/622f360efcc2"
                                            target="_blank">SQL (Basic)</a></li>
                                    <li><a href="https://www.hackerrank.com/certificates/iframe/95eea452a2c1"
                                            target="_blank">SQL (Intermediate)</a></li>
                                </ul>
                            </li>
                            <li id="test">IBM
                                <ul id="cerflinks">
                                    <li><a href="https://www.credly.com/badges/ea499b1a-a793-4199-9f64-f265492a4c87"
                                            target="_blank">Cloud Essentials</a></li>
                                    <li><a href="https://www.credly.com/badges/39810390-5c43-41cf-89bf-03a3b105ede9"
                                            target="_blank">Enterprise Design Thinking Practitioner</a></li>
                                    <li><a href="https://www.credly.com/badges/3dea4d27-2822-4011-a055-375f2a933e10"
                                            target="_blank">Working in a Digital World: Professional Skills</a></li>
                                </ul>
                            </li>



                        </ul>

                    </div>
                </div> <!-- end about-expertise -->



            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Recent Projects
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my recent projects. Feel free to check them out.
                        </p>

                        <app-portfolio-grid [projects]="portfolioProjects"></app-portfolio-grid>

                    </div> <!-- end column -->



                </div> <!-- end works-portfolio -->

                <div class="row stats">
                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Statistics
                        </h2>
                        <p class="h1" data-animate-el>
                            My coding journey and achievements.
                        </p>

                        <app-stats-grid></app-stats-grid>

                    </div> <!-- end column -->
                </div> <!-- end row stats -->

            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">
                <div class="row contact-bottom">
                    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Contact info</h3>
                        <p class="contact-links">
                            <a href="mailto:amaykadakia@gmail.com" class="mailtoui">amaykadakia&#64;gmail.com</a> <br>
                            <a href="tel:+15105745600">+1 510 574 5600</a>
                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Social</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.linkedin.com/in/amaykadakia/" target="_blank">LinkedIn</a></li>
                            <li><a href="https://github.com/kadakiaamay02" target="_blank"> GitHub</a></li>
                        </ul>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


        <!-- ## footer
        ================================================== -->
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Amay Kadakia 2026</span>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd"
                            clip-rule="evenodd">
                            <path
                                d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z" />
                        </svg>
                    </a>
                </div>
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->


    <!-- Java Script
    ================================================== -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>

