<header class="s-header">
  <div class="header-mobile">
    <span class="mobile-home-link"><a routerLink="/">Amay Kadakia.</a></span>
    <a class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <span>Menu</span>
    </a>
  </div>

  <div class="row wide main-nav-wrap" [class.mobile-menu-open]="isMobileMenuOpen">
    <nav class="column lg-12 main-nav">
      <ul>
        <li><a routerLink="/" class="home-link">Amay Kadakia.</a></li>
        <li><a (click)="scrollToSection('intro')" class="nav-link">Intro</a></li>
        <li><a (click)="scrollToSection('about')" class="nav-link">About</a></li>
        <li><a (click)="scrollToSection('works')" class="nav-link">Recent Projects</a></li>
        <li><a (click)="scrollToSection('contact')" class="nav-link">Say Hello</a></li>
      </ul>
    </nav>
  </div>
</header>
