
<section class="s-intro">
    <h2 class="text-huge-title rps-header">
        Rock, Paper, Scissors
    </h2>
    <div >
        <div >

            <div class="s-content test">
                <div class="row about-info wide">
                    <div class="scorecard">
                        <h2>Wins: {{wins}} Losses: {{losses}} Draws: {{draws}}</h2>
                    </div>

                </div>
                                    <div class="emojis" role="main">
                        <span class="emoji" (click)="onEmojiClick(1)">{{ Move.ROCK }}</span>
                        <span class="emoji" (click)="onEmojiClick(2)">{{ Move.PAPER }}</span>
                        <span class="emoji" (click)="onEmojiClick(3)">{{ Move.SCISSOR }}</span>
                    </div>

            </div>
                                <div class="button">
                        <button class="reset-button" (click)="resetScores()">Reset Scores</button>
                    </div>
        </div>
    </div>
</section>

