.test
{
    padding-top: 20rem;
}

h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.content{
  display: flex;
  flex-direction: column;    
}

.flash-result{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.flash-text{
  font-size: 150%;
  text-align: center;
  font-weight: 100;
}


@media screen and (max-width: 500px) {
  .emojis {
      flex-direction: column; /* Display emojis in a column for smaller screens */
  }
  .scorecard h2 {
      margin-right: 0.625rem; /* Add some spacing between items */
      font-weight: 50vw;
  }
  .flash-result .flash-text {
      text-align: center;
      text-align: center;
  }
  .emoji {
      padding:2vw;
      font-weight: 500vw;
  }
  .game-title{
    font-size: 1.4rem;
  }
}

.scorecard{
  display: flex;
  flex-wrap: wrap; /* Allow emojis to wrap to the next line */
  justify-content: center;
  align-items: center;
  margin: 1vw;
}
.scorecard h2 {
  margin: 0.625rem; /* Removes default margins for a cleaner look */
}


.emojis {
  display: flex;
  flex-wrap: wrap; /* Allow emojis to wrap to the next line */
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
}

.emoji {
  font-size: 15vw; /* Adjust the size of the emoji relative to viewport width */
  cursor: pointer;
  margin: 5px; /* Add spacing between emojis */
  transition: transform 0.2s; /* Smooth hover effect */
  margin-top: 10px;
}

.emoji:hover {
  transform: scale(1.2); /* Enlarge emoji on hover */
}



.button{
  justify-content: center;
  align-content: center;
  display: flex;
}

.reset-button {
  align-self: center;
  margin-top: 15rem;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}