
<span class="no-js ss-preload" lang="en">

<div *ngIf="!showMenu" class="login-dialog">
    <h2>Enter Password</h2>
    <input type="password" [(ngModel)]="password" placeholder="Password" />
    <button (click)="checkPassword()">Login</button>
    <div class="error" *ngIf="error">{{ error }}</div>
</div>

<div *ngIf="showMenu">


    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Amay Kadakia</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">



<span id="top">

        <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">
         <header class="s-header">
            <div class="header-mobile">
                <span class="mobile-home-link"><a routerLink="/" class="home-link">Amay Kadakia.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>
            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a routerLink="/"class="home-link">Amay Kadakia.</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <span class="s-contact">
            <div class="row about-info wide" >
                    <div class="column lg-4 md-12 about-info__pic-block">
                    </div>
                <div class="column lg-6 md-12">
                    <div class="about-info__text">
                        <a routerLink="/samay/wines" class="btn btn--medium u-fullwidth" >Wines</a>
                        <a routerLink="/samay/restaurants" class="btn btn--medium u-fullwidth" >Restaurants</a>
                        <a routerLink="/notes" class="btn btn--medium u-fullwidth" >Notes</a>
                    </div>
                </div>
            </div>
        </span>
    </div>
</span>
</div>
</span>
