<h1 class="visually-hidden">{{ title() }}</h1>

<div class="code-window" aria-hidden="true">
  <div class="code-window__titlebar">
    <span class="code-window__dots"><span></span><span></span><span></span></span>
    <span class="code-window__title">{{ fileName() }} - portfolio</span>
  </div>

  <div class="code-window__tabs">
    <span class="code-window__tab">
      <span class="code-window__tab-icon">{{ icon() }}</span> {{ fileName() }}
    </span>
  </div>

  <div class="code-window__editor">
    @for (line of typedLines(); track $index) {
      <div
        class="code-line"
        [class.code-line--active]="$index === currentLine()"
        [class.code-line--title]="$index === 0">
        <span class="code-line__number">{{ $index + 1 }}</span>
        <span class="code-line__text">@if (isComment($index)) {<span class="tok-comment-marker">{{ line.slice(0, 2) }}</span><span class="tok-comment">{{ line.slice(2) }}</span>} @else {<span>{{ line }}</span>}@if ($index === currentLine()) {<span class="code-line__caret"></span>}</span>
      </div>
    }
  </div>

  <div class="code-window__statusbar">
    <span>main</span>
    <span class="code-window__status-right">
      <span>Ln {{ currentLine() + 1 }}, Col {{ cursorCol() }}</span>
      <span>UTF-8</span>
      <span>{{ language() }}</span>
    </span>
  </div>
</div>